<!DOCTYPE HTML>
<html>
  <head>
    <meta>
  </head>

  <body>
    <h1>Books</h1>
    <table>
      <thead>
       <tr>
        <th>Title</th>
        <th>Boby</th>
        <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>たのしいRuby</td>
          <td>Rubyの入門におすすめ</td>
          <td>
          <a>Show</a>
          </td>
          <td>
          <a>Edit</a>
          </td>
          <td>
            <a>Destory</a>
          </td>
        </tr>
        <tr>
          <td>入門Git</td>
          <td>gitについての基本操作から内部構造まで解説してくれます</td>
          <td>
            <a>Show</a>
          </td>
          <td>
            <a>Edit</a>
          </td>
          <td>
            <a>Destroy</a>
          </td>
        </tr>
        <tr>
          <td>アルゴリズム図鑑</td>
          <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
          <td>
            <a>Show</a>
          </td>
          <td>
            <a>Edit</a>
          </td>
          <td>
            <a>Destory</a>
          </td>
        </tr>
        <tr>
          <td>達人プログラマー</td>
          <td>プログラミング入門者は必読!</td>
          <td>
            <a>Show</a>
          </td>
          <td>
            <a>Edit</a>
          </td>
          <td>
            <a>Destory</a>
          </td>
        </tr>
        <tr>
          <td>データベース実践入門</td>
          <td>効率的なSQL分を教えてくれます</td>
          <td>
            <a>Show</a>
          </td>
          <td>
            <a>Edit</a>
          </td>
          <td>
            <a>Destroy</a>
          </td>
        </tr>
      </tbody>
    </table>
     <h2>New book</h2>
     <th>Title</th>
     <th>Body</th>

  </body>
</html>



